


form{
  padding-left: 20%;
  padding-bottom: 20px ;
}


.input{
    width: 80%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0;
    outline: none;

}

select{
    width: 80%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0;
    outline: none;
}

.comment{
    padding: 60px 0;
}

.button{
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-top: 10px;
    background-color: #F9F9F9;
    margin-left: 150px;
}