form {
    padding-left: 20%;
    padding-bottom: 20px;
    padding-top: 20px;
}


.input {
    width: 80%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0;
    outline: none;
    margin-bottom: 10px;
}

select {
    width: 80%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0;
    outline: none;
}

.comment {
    padding: 60px 0;
}

.button {
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-top: 10px;
    background-color: #F9F9F9;
    margin-left: 150px;
    transition: all 0.5s;
}

.button:hover {
    background-color: #5c5b5b;
    color: #fff;
}
 

.formControl.invalid input {
    background-color: rgb(238, 128, 128);
    border-color: red;
}

.formControl.invalid label {
    color: rgb(255, 0, 0);
}

.error{
    color: red;
}